<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Peripheral List</h4>
                        <p class="card-category"> A list of peripheral registered</p>
                        <span class="pull-right"><button (click)="form()" mat-mini-fab color="primary"
                                                         aria-label="Edit peripheral data">
                                                        <mat-icon>add_circle</mat-icon>
                                                    </button></span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    IPv4
                                </th>
                                <th>
                                    Peripherals
                                </th>
                                <th>
                                    Actions
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngIf="peripheralList$.value.length === 0">
                                    No exist data available
                                </tr>
                                <tr *ngFor="let ph of peripheralList$|async">
                                    <td>
                                        {{ph.uid}}
                                    </td>
                                    <td>
                                        {{ph.vendor}}
                                    </td>
                                    <td>
                                        {{ph.dateCreated|date:'short' }}
                                    </td>
                                    <td>
                                        <mat-chip-list aria-label="Fish selection">
                                            <mat-chip [color]="ph.isOnline ? 'primary' : 'accent'">{{ph.isOnline ? 'Online' : 'Offline'}}</mat-chip>
                                        </mat-chip-list>
                                    </td>
                                    <td class="text-primary">
                                        <div class="example-button-row">
                                            <div class="example-flex-container">
                                                <div class="example-button-container">
                                                    <button (click)="form(ph)" mat-mini-fab color="primary"
                                                            aria-label="Edit peripheral data">
                                                        <mat-icon>edit_note</mat-icon>
                                                    </button>
                                                    <button (click)="delete(ph.uid)" mat-mini-fab color="accent"
                                                            aria-label="Delete a peripheral">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
