<mat-card>
    <mat-card-title>
        {{gateway._id ? 'Update a gateway' :'Create a new Gateway'}}
    </mat-card-title>
    <mat-card-content>
            <form [formGroup]="formGateway">
                <mat-form-field appearance="fill">
                    <mat-label>UID</mat-label>
                    <input readonly="true" formControlName="uid" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput placeholder="Insert a name for gateway">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Ipv4</mat-label>
                    <input formControlName="ipv4" matInput placeholder="Insert a ipv4 for gateway">
                </mat-form-field>
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Peripheral</mat-label>
                    <mat-chip-list #chipList aria-label="Peripheral selection">
                        <mat-chip
                                *ngFor="let peripheral of peripherals"
                                (removed)="remove(peripheral)">
                            {{peripheral}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input
                                placeholder="Add Peripheral..."
                                #peripheralInput
                                [formControl]="peripheralCtrl"
                                [matAutocomplete]="auto"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let peripheral of filteredPeripherals | async" [value]="peripheral">
                            {{peripheral}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button mat-button color="primary" (click)="save()" type="submit" [disabled]="formGateway.invalid">Save</button>
                <button mat-button color="accent" (click)="cancel()" type="button">Cancel</button>
            </form>
    </mat-card-content>
</mat-card>
